// 
// Styles
// 

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/sidenav.scss";
@import "./components/icons.scss";

// Sections
@import "./sections/resume-section.scss";

.subsubheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  margin-top: 0;
  font-size: 1.25rem;
}

.carousel-item {
    height: 500px;
    /* fixed height */
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgb(245, 239, 231, 0.5);
    /* Semi-transparent background */
    padding: 5px;
    border-radius: 5px;
    bottom: 50px;
    // width: 100%;
    // position: center;
    /* Adjust position */
}

.carousel-control-prev-icon {
    color: $primary;
}

.carousel-control-next-icon {
    color: $primary;
}

.publication-item {
  border-left: 3px solid $primary;
  padding-left: 15px;
}

.fa-file-pdf, .ai-doi {
  font-size: 1.2em;
}

.publication-box {
  background-color: $dark-bg;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #cec4b0;
}

/* Hover effect for better UX */
.publication-box:hover {
  border: 1px solid $primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
