// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$green: #92a490;

$beige: #F5EFE7;
$body-bg: #F5EFE7;

// Override Bootstrap default state colors

$primary: $green;
